<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-01:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_01_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-01" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring-01/web/Web" />
    </root>
  </artifact>
</component>